body{
    margin: 0;
    height: 0;
    background-image: url(images/junglegif.gif);
    background-size: cover;
    background-position:0,0,0,0;
    color: aliceblue;
}

.banner{
    height: 300px;
    background-color: black;
    background-image: url(images/snow03.gif);
    background-position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: rgb(248, 248, 248);
    font-size: 125px;
    font-family:url(fonts/Oregon_LDO.ttf);
}

.container{
    width:85%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure{
    float: left;
    margin: 0;
    margin-right: -1px;
    margin-bottom:-1px;
    height: 100%;
    width: 100%;
}
figure.glance{
    width:400px;
    height:400px;
}

.glance img{
    display:block;
    transition: all 0.5s ease;
    width:100%;
    filter: grayscale(100%);
}
.glance img:hover{
    transform:scale(110%);
    filter:none;
}
@media only screen and (max-width: 1000px){
    body{
        width: 1000px;
        margin: auto;
     }
     .container{
        padding-top: 0px;
     }
    figure.glance{
        width: 500px;
        height:500px;
    }
}
p{
    display: flex;
    text-align: center;
	margin: 100px;
	border: 1px solid rgb(255, 255, 255);
	padding: 25 px;
    color: aliceblue;
font-family:url(fonts/Remingtoned\ Type.ttf) ;
}
